h1 {font-family: 'Lusitana', serif;
   text-align:center;}
h2 {font-family:'Playfair Display', serif;
    font-size:30px;
    position:relative;
    top:18px;}
p {font-family: 'Montserrat', sans-serif;
    font-size:15px;
  }
a{font-family: 'Montserrat', sans-serif;}
ul{
display: flex;
justify-content: flex-end;
}
li{
  font-size: 15px;
  padding:10px;
  list-style:none;
}
img{width:300px; /*MAKE PIC RESPONSIVE!*/
    padding-left:50px;
    position:relative;
    top:55px;} /*FIX WIDTH!*/
header img{width:auto;}
/*layout */
article{
  display:grid;
  grid-template-columns: 35% 65%;
  grid-row-gap:30px;
  }
