:root {
  --lightgray: #E5E5E5;
}

h1 {
  color: pink;
}

body {
  background-color: var(--lightgray);
  padding: 0px;
  margin: 0px;
}

main {
  display: grid;
  grid-gap: 10px;

  /*  grid-template-columns & rows in mediaq */
  /*  margin in MQ */
}

div {
  background-color: #FFF;
}
figure{
  margin:10px 10px 40px 10px;
}
img{
  object-fit: cover;
  width: 100%;
}

#textCard {
  grid-column: span 2;
}

h1{
  font-family: 'Roboto', sans-serif;
font-weight: bold;
margin:5px;
margin-left: 10px;

font-size: 24px;
text-transform: uppercase;
color: #A862A0;}

h2{
  font-family: 'Roboto', sans-serif;
margin: 5px;
margin-left: 10px;
font-size: 12px;
text-transform: uppercase;
color: rgba(107, 101, 101, 0.8);
}

/*media q*/
@media (max-width: 480px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    margin:10px;
  }
  h1{
    font-size:24px;
  }
  h2{
    font-size:12px;
  }
  #textCard{
    grid-row:1/2;
  }
}

@media (max-width:999px) and (min-width:481px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
  h1{
    font-size:36px;
  }
  h2{
    font-size:18px;
  }
}

@media (min-width: 1000px){
  main {
    grid-template-columns: repeat(5, 1fr);
  }
  h1{
    font-size:48px;
  }
  h2{
    font-size:24px;
  }
}

/*animation*/
.violet:hover{
  animation-name:flip;
  animation-duration:2s;
  animation-fill-mode: forwards;
}
@keyframes flip {
  100% {
  opacity:0;  }
  }
}
